// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2020, Konrad Dybcio <konrad.dybcio@somainline.org>
 * Copyright (c) 2020, Gustave Monce <gustave.monce@outlook.com>
 */

/dts-v1/;

#include "msm8994.dtsi"
#include "msm8994-msft-lumia-octagon.dtsi"

/ {
	model = "Microsoft Lumia 950 XL";
	compatible = "microsoft,cityman", "qcom,msm8994";
	chassis-type = "handset";
};

/*
 * 3.10 msm8994-iommu.dtsi: MDP SMMU 0xfd9cc000, ctx0 0xfd9d4000.
 * Same relative layout as Talkman (+0x8000), different physical base.
 * Untested here; driver resume-before-ioremap is the same as 8992.
 */
&mdp_iommu {
	reg = <0xfd9cc000 0x2600>;
	ranges = <0 0xfd9d4000 0x3000>;
};
